{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="bg-light p-3">
    <h1>Votre Panier</h1>
</div>
{% if items |length > 0 %}
<table class="table">
    <thead>
    
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantite</th>
            <th>total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{item.product.title}}</td>
            <td>{{item.product.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.product.price * item.quantity}}</td>
            <td>
                <a href={{path('cart_remove',{'id':item.product.id})}} class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3"> total : </td>
            <td>{{total}}</td>
            <td></td>
        </tr>
    </tfoot>
</table>
<center>
<a href={{path('commande')}} class=" btn btn-success">Commander</a>
</center>
{% else %}
<p>C'est Vide ! <p>
{% endif %}
{% endblock %}
